html,body {
  width: 100%;
  min-height: 100%;
  overflow:hidden;
  min-height: 99vh;
}

body {
    background:#F5BCBA;
	display: flex;
    align-items: center;
    justify-content: center;
}

.wrap {
  position: relative;
}

h1 {
    font-family: Arial;
    color:  black;
    font-size: 9em;
    padding: 20px 30px;
}

h3 {
    font-family: Arial;
    color:  black;
    font-size: 1.5em;
	text-align: center;
}


.drop {
   background: rgba(255,255,255,0.4);
   border-radius: 10px;
   border: 1px solid rgba(255,255,255,0.2);
   position: absolute;
   backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
   display: block;
   margin: 0 auto;
}

.drop1 {
   width: 57%;
   height: 250px;
   top: 56px;
   left: 0;
   right: 0;
   z-index: 2;
   backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
